.ItemBox {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 3px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
    color: #ffffff;
}

.ItemBox--placeholder {
    background: rgba(50, 50, 50, 0.7);
}

.ItemBox__inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7);
}

.ItemBox__img {
    width: 100%;
    height: 100%;
}