.CharacterCustomizationScreen {
    display: flex;
    height: 100%;
}

.CharacterCustomizationScreen__inventory {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CharacterCustomizationScreen__inventory .Inventory {
    margin-top: -36px;
}

.CharacterCustomizationScreen__equipment {
    width: 50%;
}

.CharacterCustomizationScreen__equipment .Equipment {
    width: 100%;
    height: 100%;
}