.Inventory {}

.Inventory__tabs {
    display: flex;
    margin-bottom: 10px;
}

.Inventory__tabControl {
    font-size: 36px;
    color: #fff;
    background: none;
    border: none;
    box-shadow: none;
    opacity: 0.6;
    transition: transform 0.1s;
    cursor: pointer;
}

.Inventory__tabControl:focus {
    outline: none;
}

.Inventory__tabControl:hover {
    transform: scale(1.25);
}

.Inventory__tabControl:disabled {
    opacity: 1;
    cursor: initial;
}

.Inventory__tabControl:disabled:hover {
    transform: none;
}